$dd-padding: 8px 10px;
$dd-border-transition: border 300ms ease-in;
/* ---------------------------*/
/* Dropdown */

.dropdown {
  display: flex;
  font-size: 14px;
  color: #333;
  margin: 6px 15px 15px;
  border-radius: 1px;
  border: $main-border;
  transition: $dd-border-transition,
              box-shadow 400ms ease-in;

  & label {
    flex: 1 0 auto;
    padding: $dd-padding;
    background: #F0F0F0;
  }
  &:hover,
  &:active {
    border-color: $active-border-color;
    box-shadow: 0 1px $active-border-color;
    // change the left-broder to solid
    .dd-current-value {
      border-left-color: $active-border-color;
      border-left-style: solid;
      // down arrow
      &::after {
        background-color: darken($border-color, 50%);
      }
    }
  }
}
.dd-list {
  position: relative;
  flex: 0 0 150px;
  height: 100%;
  color: #333;
  text-transform: none;
  cursor: pointer;

  .dd-current-value {
    height: 100%;
    text-align: left;
    font-size: inherit;
    font-weight: bold;
    padding: $dd-padding;
    border-left: $main-border;
    border-left-style: dotted;
    background: transparent;
    transition: $dd-border-transition;

    // Down Arrow
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 8px;
      top: 50%;
      margin-top: -3px;
      border-width: 7px 7px 0px 7px;
      border-style: solid;
      background: darken($border-color, 40%);
      border-color: transparent #fff;
    }
  }
  ul {
    position: absolute;
    right: -1px; //to compensate for.dropdown's border
    left: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid $active-border-color;
    border-top: 0;
    box-shadow: none;
    z-index: 1;
    display: none;

    &.active {
      display: block;
      box-shadow: -3px 4px 4px 2px rgba(0, 0, 0, .1);
    }

    & div {
      display: block;
      height: 33px;
      padding: 8px 0 8px 8px;
      border: none;
      &.active {
        background: rgba(0,0,0, 0.08);
      }
      &:hover {
        background: rgba(0,0,0, 0.15);     
      }
    }
  }
}
.swatch {
  content: '';
  display: inline-block;
  left: 6px;
  width: 18px;
  height: 18px;
  margin: 0 6px -4px 0;
  border-radius: 9px;
  background-color: currentColor;
  &.white,
  &.maple {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
