/* selection panel items ---------------------------*/

.control-panel { // holds dropdowns for bases and boxes
  padding-top: 15px;
  text-align: left;
  border-bottom: 1px solid #D0D0D0;
  // background: #efefef;
  flex-shrink: 0;
  z-index: 2;
}

// panels hold the related furniture by type
// i.e bases, open boxes, boxes w/ hinges, boxes w/ drawers, & accessories
.panel {
  display: none;
  flex: 1;
  overflow-y: scroll;
  text-align: left;
  z-index: 1;
}

.panel.active {
  display: block;
}

// the group that holds the related furniture pieces by size
.panel-group {
  padding: 10px 0 30px 0;
  border-bottom: 1px dotted #ccc;
  &:last-child {
    border-bottom: none;
  }
  h4 {
    margin: 0 5px 0 15px;
  }
}

// the module that holds the label and furniture item
.panel-module {
  padding: 20px 15px 0;
  background: rgba(255,255,255, .2);
}

.module-label,
.module-sublabel {
  display: block;
  color: #333;
  // font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.module-sublabel {
  color: #888;
  font-size: 11px;
  font-weight: initial;
  margin-top: -2px;
  text-transform: uppercase;
}

.panel-item {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.dropped-item {
  .l-pulls,
  .three-knob {
    outline: 1px solid transparent;
  }
}

.inline,
.l-pulls,
.three-knob {
  display: inline-block;
  margin-right: 8px;
}

.dropbox {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
}