$mainGray: #D0D0D0;

/* tabs ---------------------------*/
.configurator-tabs {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  z-index: 0;
}

.configurator-tabs li {
    float: left;
    position: relative;
    margin: 1px -16px -1px 1px;
    border-bottom: 1px solid $mainGray;
}
.configurator-tabs a {
    position: relative;
    float: left;
    padding: 0 4px 0 12px;
    height: 0;
    color: #666;
    line-height: 33px;
    text-decoration: none;
    border-right: 33px solid transparent;
    border-bottom: 33px solid #eee;
} 


/* tab outline */
.configurator-tabs li::before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    border-right: 34px solid transparent;
    border-bottom: 34px solid #D0D0D0;
}

/* tab interactive styles */
// TODO: style for .configurator-tabs a:focus
.configurator-tabs a:hover:not(.active),
.configurator-tabs a:active {
  color: #333;
  border-bottom-color: lighten(#D0D0D0, .2);
}

/* tab stacking order */
.sp-tabs__top {
  z-index: 2;
}
.sp-tabs__middle {
  z-index: 1;
}
.sp-tabs__bottom {
  z-index: 0;
}

/* selected tab */
li.top-tab {
  z-index: 3;
  border-bottom-color: #fff;
}
.configurator-tabs .active {
  color: #333;
  border-bottom: 33px solid #fff;
}
