#accessories.selection-panel
  .control-panel
  .panel.active
    //- ACCESSORIES
      viewBox="0 0 140 10"
      viewBox="0 0 210 10"
      viewBox="0 0 70 70"
      viewBox="0 0 105 70"
      viewBox="0 0 140 70"
    .panel-group
      h4 Hardware
      .dropdown
        label Choose Finish
        .dd-list
          .dd-current-value
            span.swatch
            | Placeholder
          ul(role='listbox', tabindex=4)
            each value, key in { 'pewter': 'Pewter', 'brass': 'Brass', 'bronze': 'Dark Bronze', 'white': 'White', 'charcoal': 'Charcoal' }
              li
                div(data-color=key, data-furniture='hardware', role='select')
                  span.swatch(class=key)
                  = value

      .panel-module
        span.module-label L-Pulls
        .panel-item.l-pulls(data-name='L-pull (top right)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/L-pull_topRight.svg
        .panel-item.l-pulls(data-name='L-pull (top left)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/L-pull_topLeft.svg
        .panel-item.l-pulls(data-name='L-pull (bottom left)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/L-pull_bottomLeft.svg
        .panel-item.l-pulls(data-name='L-pull (bottom right)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/L-pull_bottomRight.svg

      .panel-module
        span.module-label 3 Knobs
        .panel-item.three-knob.vert(data-name='3 Knobs (vertical)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/threeKnob_vert.svg
        .panel-item.three-knob.horiz(data-name='3 Knobs (horizontal)' data-acc='inner', data-furniture='hardware', data-color='')
          include ../../img/optimized/accessories/threeKnob_horiz.svg

    .panel-group
      h4 Wine Racks
      .dropdown
        label Choose Color
        .dd-list
          .dd-current-value
            span.swatch
            | Placeholder
          ul(role='listbox')
            each value in [ 'white', 'taupe', 'gray', 'charcoal', 'maple', 'walnut', 'oak' ]
              li
                div( data-color=value, data-furniture='winerack', role='select')
                  span.swatch(class=value)
                  = value.charAt(0).toUpperCase() + value.substr(1)

      .panel-module
        span.module-label 14&#8196;x&#8196;14 in. Wine Rack
        .panel-item(data-name='14 x 14 in. Wine Rack' data-acc='standalone', data-furniture='winerack', data-color='', data-type='')
          include ../../img/optimized/accessories/winerack_14x14.svg
          .clickbox

      .panel-module
        span.module-label 21&#8196;x&#8196;14 in. Wine Rack
        .panel-item(data-name='21 x 14 in. Wine Rack' data-acc='standalone', data-furniture='winerack', data-color='', data-type='')
          include ../../img/optimized/accessories/winerack_21x14.svg
          .clickbox

      .panel-module
        span.module-label 28&#8196;x&#8196;14 in. Wine Rack
        .panel-item(data-name='28 x 14 in. Wine Rack' data-acc='standalone', data-furniture='winerack', data-color='', data-type='')
          include ../../img/optimized/accessories/winerack_28x14.svg
          .clickbox


    .panel-group
      h4 Audio Speakers

      .panel-module
        span.module-label Vertical Speaker
        .panel-item(data-name='Vertical Speaker' data-acc='standalone', data-furniture='speaker', data-color='', data-type='')
          include ../../img/optimized/accessories/speaker_vert.svg

      .panel-module
        span.module-label Horizontal Speaker
        .panel-item(data-name='Horizontal Speaker' data-acc='standalone', data-furniture='speaker', data-color='', data-type='')
          include ../../img/optimized/accessories/speaker_horiz.svg

    .panel-group
      h4 Pullout-desk
      .dropdown
        label Choose Color
        .dd-list
          .dd-current-value
            span.swatch
            | Placeholder
          ul(role='listbox')
            each value in [ 'white', 'taupe', 'gray', 'charcoal', 'maple', 'walnut', 'oak' ]
              li
                div( data-color=value, data-furniture='pullout-desk', role='select')
                  span.swatch(class=value)
                  = value.charAt(0).toUpperCase() + value.substr(1)

      .panel-module
        span.module-label 28&#8196;in. Pull-out Desk
        .panel-item(data-name='28 in. Pull-out Desk' data-acc='inner', data-furniture='pullout-desk', data-color='', data-type='')
          include ../../img/optimized/accessories/pulloutDesk_28w.svg

      .panel-module
        span.module-label 42&#8196;in. Pull-out Desk
        .panel-item(data-name='42 in. Pull-out Desk' data-acc='inner', data-furniture='pullout-desk', data-color='', data-type='')
          include ../../img/optimized/accessories/pulloutDesk_42w.svg


    .panel-group
      h4 Hanging Files
      .dropdown
        label Choose Color
        .dd-list
          .dd-current-value
            span.swatch
            | Placeholder
          ul(role='listbox')
            each value in [ 'white', 'taupe', 'gray', 'charcoal', 'maple', 'walnut', 'oak' ]
              li
                div( data-color=value, data-furniture='hanging-file', role='select')
                  span.swatch(class=value)
                  = value.charAt(0).toUpperCase() + value.substr(1)

      .panel-module
        span.module-label 21&#8287;x&#8287;14 in.&#8196;Hanging File
        .panel-item(data-name='21 x 14 in. Hanging File' data-acc='outer', data-furniture='hanging-file', data-color='')
          .selectable
          include ../../img/optimized/boxes/box_21x14.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;14 in.&#8196;Hanging File
        .panel-item(data-name='28 x 14 in. Hanging File' data-acc='outer', data-furniture='hanging-file', data-color='')
          .selectable
          include ../../img/optimized/boxes/box_28x14.svg

    .panel-group
      h4 Cushions
      .panel-module
        span.module-label 28&#8196;in. Cushion
        .panel-item(data-name='28 in. Cushion' data-acc='outer', data-furniture='cushion', data-color='')
          include ../../img/optimized/accessories/cushion.svg
