#bases.selection-panel
  .control-panel
    .dropdown
      label Choose Finish
      .dd-list
        .dd-current-value
          span.swatch.charcoal
          | Placeholder
        ul(role='listbox', tabindex=4)
          each value, key in { 'pewter': 'Pewter', 'brass': 'Brass', 'bronze': 'Dark Bronze', 'white': 'White', 'charcoal': 'Charcoal' }
            li
              div(data-color=key, data-furniture='base', role='select')
                span.swatch(class=key)
                = value
    .dropdown
      label Choose Inset
      .dd-list
        .dd-current-value
          span.swatch
          | Placeholder
        ul(role='listbox', tabindex=4)
          each value in [ 'white', 'taupe', 'gray', 'charcoal', 'maple', 'walnut', 'oak' ]
            li
              div( data-inset=value, data-furniture='base', role='select')
                span.swatch(class=value)
                = value.charAt(0).toUpperCase() + value.substr(1)

  // BASES
  // note: only box panels toggle active
  .panel.active
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;7 in.&#8196;Base
        .base.panel-item(data-name='21 x 7 in. Base' data-furniture='base', data-color='', data-inset='')
          include ../../img/optimized/bases/base_21x7.svg
      .panel-module
        span.module-label 28&#8287;x&#8287;7 in.&#8196;Base
        .base.panel-item(data-name='28 x 7 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_28x7.svg
      .panel-module
        span.module-label 42&#8287;x&#8287;7 in.&#8196;Base
        .base.panel-item(data-name='42 x 7 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_42x7.svg
      .panel-module
        span.module-label 56&#8287;x&#8287;7 in.&#8196;Base
        .base.panel-item(data-name='56 x 7 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_56x7.svg
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;14 in.&#8196;Base
        .base.panel-item(data-name='21 x 14 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_21x14.svg
      .panel-module
        span.module-label 28&#8287;x&#8287;14 in.&#8196;Base
        .base.panel-item(data-name='28 x 14 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_28x14.svg
      .panel-module
        span.module-label 42&#8287;x&#8287;14 in.&#8196;Base
        .base.panel-item(data-name='42 x 14 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_42x14.svg
      .panel-module
        span.module-label 56&#8287;x&#8287;14 in.&#8196;Base
        .base.panel-item(data-name='56 x 14 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_56x14.svg
    .panel-group
      .panel-module
        span.module-label 42&#8287;x&#8287;28 in.&#8196;Base
        .base.panel-item(data-name='42 x 28 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_42x28.svg
      .panel-module
        span.module-label 56&#8287;x&#8287;28 in.&#8196;Base
        .base.panel-item(data-name='56 x 28 in. Base' data-furniture='base', data-color='')
          include ../../img/optimized/bases/base_56x28.svg
