#boxes.selection-panel
  .control-panel
    .dropdown
      label Choose Type
      .dd-list
        .dd-current-value Placeholder
        ul(role='listbox')
          each value, key in { 'open': 'Open', 'doors': 'Hinged Door', 'drawers': 'Drawers' }
            li
              div(data-boxtype=key, data-furniture='box', role='select')
                = value
    .dropdown
      label Choose Color
      .dd-list
        .dd-current-value
          span.swatch
          | Placeholder
        ul(role='listbox')
          each value in [ 'white', 'taupe', 'gray', 'charcoal', 'maple', 'walnut', 'oak' ]
            li
              div( data-color=value, data-furniture='box', role='select')
                span.swatch(class=value)
                = value.charAt(0).toUpperCase() + value.substr(1)
  #open.panel
    // 7 in. H Open Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;7 in.&#8196;Box
        .panel-item(data-name='21 x 7 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_21x7.svg
          .dropbox

      .panel-module
        span.module-label 28&#8287;x&#8287;7 in.&#8196;Box
        .panel-item(data-name='28 x 7 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_28x7.svg
          .dropbox

      .panel-module
        span.module-label 42&#8287;x&#8287;7 in.&#8196;Box
        .panel-item(data-name='42 x 7 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_42x7.svg
          .dropbox


    // 10.5 in. H Open Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;10.5 in.&#8196;Box
        .panel-item(data-name='21 x 10.5 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_21x10.5.svg
          .dropbox

      .panel-module
        span.module-label 28&#8287;x&#8287;10.5 in.&#8196;Box
        .panel-item(data-name='28 x 10.5 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_28x10.5.svg
          .dropbox

      .panel-module
        span.module-label 42&#8287;x&#8287;10.5 in.&#8196;Box
        .panel-item(data-name='42 x 10.5 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_42x10.5.svg
          .dropbox

    // 14 in. H Open Boxes
    .panel-group
      .panel-module
        span.module-label 14&#8287;x&#8287;14 in.&#8196;Box
        .panel-item(data-name='14 x 14 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_14x14.svg
          .dropbox

      .panel-module
        span.module-label 21&#8287;x&#8287;14 in.&#8196;Box
        .panel-item(data-name='21 x 14 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_21x14.svg
          .dropbox

      .panel-module
        span.module-label 28&#8287;x&#8287;14 in.&#8196;Box
        .panel-item(data-name='28 x 14 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_28x14.svg
          .dropbox


    // 17.5 in. H Open Box
    .panel-group
      .panel-module
        span.module-label 7&#8287;x&#8287;17.5 in.&#8196;Box
        .panel-item(data-name='7 x 17.5 in. Box' data-furniture='box', data-color='' )
          include ../../img/optimized/boxes/open-box_7x17.5.svg
          .dropbox


  #doors.panel
    // 7 in. H Hinged Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='21 x 7 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x7.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='28 x 7 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x7.svg

      .panel-module
        span.module-label 42&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='42 x 7 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_42x7.svg

    // 10.5 in. H Hinged Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='21 x 10.5 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x10.5.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='28 x 10.5 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x10.5.svg

      .panel-module
        span.module-label 42&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='42 x 10.5 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_42x10.5.svg

    // 14 in. H Hinged Boxes
    .panel-group
      .panel-module
        span.module-label 14&#8287;x&#8287;14 in.&#8196;Box
        .inline
          span.module-sublabel Left Hinge
          .panel-item(data-name='14 x 14 in. Box with left hinge' data-furniture='box', data-color='', data-closed-box='true')
            include ../../img/optimized/boxes/box_14x14.svg

        .inline
          span.module-sublabel Right Hinge
          .panel-item(data-name='14 x 14 in. Box with right hinge' data-furniture='box', data-color='', data-closed-box='true')
            include ../../img/optimized/boxes/box_14x14.svg


      .panel-module
        span.module-label 21&#8287;x&#8287;14 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='21 x 14 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x14.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;14 in.&#8196;Box
        span.module-sublabel Top Hinge
        .panel-item(data-name='28 x 14 in. Box with top hinge' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x14.svg

    // 17.5 in. H Hinged Box
    .panel-group
      .panel-module
        span.module-label 7&#8287;x&#8287;17.5 in.&#8196;Box
        .inline
          span.module-sublabel Left hinge
          .panel-item(data-name='7 x 17.5 in. Box with left hinge' data-furniture='box', data-color='', data-closed-box='true')
            include ../../img/optimized/boxes/box_7x17.5.svg
        .inline
          span.module-sublabel Right hinge
          .panel-item(data-name='7 x 17.5 in. Box with right hinge' data-furniture='box', data-color='', data-closed-box='true')
            include ../../img/optimized/boxes/box_7x17.5.svg



  #drawers.panel

    // 7 in. H Drawer Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='21 x 7 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x7.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='28 x 7 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x7.svg

      .panel-module
        span.module-label 42&#8287;x&#8287;7 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='42 x 7 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_42x7.svg

    // 10.5 in. H Drawer Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='21 x 10.5 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x10.5.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='28 x 10.5 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x10.5.svg

      .panel-module
        span.module-label 42&#8287;x&#8287;10.5 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='42 x 10.5 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_42x10.5.svg

    // 14 in. H Drawer Boxes
    .panel-group
      .panel-module
        span.module-label 21&#8287;x&#8287;14 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='21 x 14 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_21x14.svg

      .panel-module
        span.module-label 28&#8287;x&#8287;14 in.&#8196;Box
        span.module-sublabel Drawer
        .panel-item(data-name='28 x 14 in. Box with drawer' data-furniture='box', data-color='', data-closed-box='true')
          include ../../img/optimized/boxes/box_28x14.svg