.top-bar
    h3#readout
    .buttons
      button#print Print Cut-sheet
//      button#share Share Link
//      button#order Get Quote
.canvas
  .main-col
    #dropzone.dropzone
      #intro.instructions
        include ../../img/optimized/canvas-ui/instructions-intro.svg
        h1 Drag furniture onto</br>the canvas
      #acc.instructions.hide
        include ../../img/optimized/canvas-ui/instructions-accessories.svg
        h1 This accessory requires <span id='acc-msg'>a corresponding box</span>
    .measuring-tape.hide
      .measure-X
        .ruler-img
          include ../../img/optimized/ruler/x-ruler-marker.svg
  .left-col
    .measuring-tape.hide
      .measure-Y
        .ruler-img
          include ../../img/optimized/ruler/y-ruler-marker.svg
    .trashcan.hide
      include ../../img/optimized/canvas-ui/trashcan.svg
