ul.configurator-tabs(role='tablist')
  li.sp-tabs__top(role='tab', tabindex='0')
    a(href='#bases') Bases
  li.sp-tabs__middle(role='tab', tabindex='1')
    a(href='#boxes') Boxes
  li.sp-tabs__bottom(role='tab', tabindex='2',)
    a(href='#accessories') Accessories

.configurator
  .loading-screen
    h1 Loading...
  include ./bases.pug
  include ./boxes.pug
  include ./accessories.pug
  include ./canvas.pug
