include ./fragments/configurator.pug
script(src='http://xavier.valarino.com/fringe-studio/bundle.js', type='text/javascript')
// load URL shortening API after JS bundle
script(src='https://apis.google.com/js/client.js?onload=load' type='text/javascript')
