doctype html
html
  head
    title TESTING: Mixi Modular Configurator
    link(href='test.css' rel='stylesheet', type='text/css')
    // script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js', type='text/javascript')
    script(src='./jquery.js', type='text/javascript')
  body
    include ./fragments/configurator.pug
    script(src='./bundle.js', type='text/javascript')
  // load URL shortening API after JS bundle
  // script(src='https://apis.google.com/js/client.js?onload=load' type='text/javascript')
