.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 74px;

  h3 {
    flex: 0 1 auto;
    margin: 0;
    transition: opacity 300ms ease-out;
  }
}

.buttons {
  button {
    border: 0;
    background: #888;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 3px;
  }
}


.canvas {
  position: relative;
  flex-grow: 1;
  width: 67%;
  display: flex;
  flex-wrap: wrap;
}

  .main-col,
  .left-col {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .main-col{
    flex-grow: 1;
  }


.dropzone {
  position: relative;
  z-index: 5;
  flex-grow: 1;
  // TODO: fix margin to keep dropped-items off the edge
  // margin: 0 5px 5px;
}
.instructions {
  position: absolute;
  text-align: center;
  width: 65%;
  margin-top: 12%;
  margin-left: 15%;
  color: rgba( #D0D0D0, .9);
  // z-index: 100;
  transition: opacity 150ms ease-in;
}
.total-area {
  position: absolute;
  }
.measuring-tape {
  position: relative;
  text-align: center;
  opacity: 1; // for .hide class
  div {
    position: relative;
    display: flex;
    transition: all 70ms ease-out;
  }
  .ruler-img {
    position: absolute;
    overflow: hidden;
    svg {
      // making the SVG have an absolute position
      // means it's size doesn't scale, allowing us to clip it
      position: absolute;
    }
  }
  .foot-mark {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
  }
}
.measure-Y {
  width: 32px;
  flex-direction: column-reverse;
  .ruler-img {
    bottom: 0;
    width: 10px;
    height: 100%;
    svg {
      bottom: 0;
    }
  }
  span {
    margin-bottom: -2px;
    line-height: 0;
    &:not(:last-child) { // so it doesnt overflow
      margin-top: 62px;  // + 12px font-size = 60px == 12in/1ft
    }
  }
}
.measure-X {
  height: 32px;
  .ruler-img {
    width: 100%;
    height: 10px;
  }
  span {
    padding-top: 14px;
    margin-left: -2px;
    width: 0;
  &:not(:last-child) {
    margin-right: 62px;
  }
  }
}

.trashcan {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 70px;
  z-index: 10;
  text-align: left;
  // padding: 30px;
  // z-index: 10;
  transition: transform 300ms ease-in-out;
  & svg {
    overflow: visible;
    width: 32px;
    height: 58px;
  }
}
.lid {
  transform: none;
  transform-origin: bottom right;
  transition: transform 500ms ease-in-out;
}
.lid-up {
  transform:  translate( 0px, -8px)
              rotate(15deg);
}
