$border-color: #d0d0d0;
$active-border-color: darken($border-color, 15%);

// Furniture Colors
$colors: (
  pewter: #6e6e6e,
  brass: #d7a800,
  bronze: #630,
  white: #fff,
  taupe: #8c7b70,
  gray: #808080,
  charcoal: #404040,
  maple: #eceedf,
  oak: #867f80,
  walnut: #630
);

@each $color, $hex in $colors {
  .#{$color} {
    color: $hex;

      // allow woodgrain to show through the back
      // (but stop it from cascading down to any accessories that might be inside)
      // TODO: clean up selectors for woodgrains in accessories
      > svg > .bkg,
      &[data-furniture="pullout-desk"] > svg {
      @if $color == maple or $color == walnut or $color == oak {
        // use important to stop the inherit property from cascading into accessories
         color: transparent;
      } @else {
         color: inherit;
      }
    }
  }
}

.maple {
  background-image: url('../img/optimized/light-maple-pattern.jpg');
}

.walnut {
  background-image: url('../img/optimized/natural-walnut-pattern.jpg');
}

.oak {
  background-image: url('../img/optimized/cerused-oak-pattern.jpg');
}
