
/* Draggables ---------------------------*/
// TODO: Consolidate this with _items.scss

.panel-item,
.dropped-item {
  position: relative;
  line-height: 0; // make div height == to SVG
  cursor: pointer;
  outline: 0 solid transparent;
  // for box .drop-active for accessory
  // for base shadow
  &%pseudo-styles {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 0;
    width: 2px;
    z-index: -1;
  }

  &[data-furniture="base"]::before {
    @extend %pseudo-styles;
    left: 0;
  }

  &[data-furniture="base"]::after {
    @extend %pseudo-styles;
    right: 0;
  }
}

.crosshairs {
  cursor: crosshair;
}

.ui-selected {
  z-index: 10;
}

.ui-selecting {
  &::before {
    @extend %pseudo-styles;
    left: 0;
  }

  &::after {
    @extend %pseudo-styles;
    right: 0;
  }
}
// .ui-selectable-helper {
//   position: absolute;
//   background: transparentize(tomato,.9);
//   border: 1px dotted transparentize(tomato,.5);
//   z-index: 10;
// }

/* accessories */
.l-pulls,
.three-knob {
  width: 30px;
  height: 30px;
  outline: 1px solid #cecece;
  transition: outline 300ms ease-out;

  &.horiz {
    height: 15px;
    width: 30px;
    margin-bottom: 15px;
  }
  &.vert {
    height: 30px;
    width: 15px;
  }

}
// clickbox acts as a handle for wineracks that are inside
// an open box, allowing the user to grab and move it.
.clickbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 15px;
}
