$lift-select: rgba(0, 0, 0, .3);
$lift-active: rgba(0, 0, 0,.35);
// easing on all types
// TODO: double check that attr selector is supported

.dim {
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}
.divide {
  transition: opacity 300ms ease-out;
}
.hide {
  opacity: 0;
}

.delete {
  position: relative;
  transform: scale(0.8);
  opacity: .8;
}
.deleting {
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom right;
}

// Same as delete, but when item
// is 'put back' on selection panel
.put-it-back {
  @extend .deleting;
  transform-origin: bottom left;
}

// .boundary {
//   outline: 5px solid #aaa;
// }
.trashcan-animation {
  z-index: 1;
  transform: scale(1.5);
  transform-origin: right bottom;
}


div[data-furniture] {
  &,
  &::before, // pseudo classes included
  &::after { // for box-shadows on bases
    transition: opacity     200ms ease-out,    // .dim, .delete
                transform   200ms ease-out,    // .delete, .deleting
                box-shadow  300ms ease-in-out, // :hover, :active
                outline     300ms ease-in-out; // .drop-active
  }
}
//------------------------------------------------------------------
// SELECTING
.drop-active {
  opacity: 1;
  z-index: 5;
  outline: 4px solid rgba(#8FE2E2, .5);
}
.panel-item.hover {
  transition: box-shadow 0;
}
.hover,  // for .panel-item draggable (since its a clone helper)
.panel-item:hover,
%drag-hover {
  cursor: move;
  z-index: 10;
  box-shadow: 0 5px 4px 0 $lift-select;
}
.dropped-item, {
  &:hover,
  &:active { // active only applies to dropped-item because clone is 'original'
    @extend %drag-hover;
  }
}
// special hover/active class for bases
// since they have an irregular shape
// using pseudo elements to create the shadow
.base.hover,
.base.panel-item:hover,
%base-drag-hover {
    box-shadow: inset 0 12px 5px $lift-active;
    &::before {
      box-shadow: 5px 0 4px 4px $lift-active;
    }
    &::after {
      box-shadow: -5px 0 4px 4px $lift-active;
    }
}
.base.dropped-item {
  &:hover,
  &:active {
    @extend %base-drag-hover;
  }
}

// [data-furniture=base]:hover,
// .ui-selecting {

//   // offset-x | offset-y | blur-radius | spread-radius | color
//   box-shadow: inset 0 10px 1px $lift-select;
//  y &::before {
//     box-shadow: 5px 0 4px 3px $lift-select;
//   }
//   &::after {
//     box-shadow: -5px 0 4px 3px $lift-select;
//   }
// }