// Variables
$main-border: 1px solid $border-color;

// part of Weebly page
#content {
  padding: 0;
}

.configurator,
.configurator *,
.configurator *::before,
.configurator *::after {
  box-sizing: border-box;

}

/* panels ---------------------------*/
.configurator {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border: $main-border;
  border-left-width: 0;
  // overflow: hidden;

  min-height: 500px;
  height: 70vh;
  max-height: 700px;
  width: 100%;
  -webkit-user-select: none;
}
// TODO: fix issue with BASES overflow-x
.selection-panel {
  flex: 100%;
  width: 33%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: $main-border;
  border-top: none;
  border-bottom: none;
}
.loading-screen {
  width: 100%;
  height: 100%;
  color: #D0D0D0;
  font-size: 1.4em;
  h1 {
    margin-top: 23%;
  }
}
