// TODO turn on display none when finished debugging
.print {
  display:none;
}

@media print {
  // for debbugging
  // body::before {
  //   content: '@media PRINT';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   padding: 1em;
  //   color: white;
  // }

  html body > *, // Weebly items
  .configurator, // only for debugging
  .trashcan {
    display: none;
  }

  // More Weebly nonsense
  body {
    padding-top: 0;
    background: white;
  }

  .print {
    display: block;
    text-align: center;
  }

  // TODO: disable shadows on print
  .canvas {
    width: 99%; // borders disappear at 100%
    height: 360pt; // == 5in
    justify-content: center;
    border: 1px solid $border-color;
  }

  img {
    height: 24pt;
    margin: 12pt;
  }

  .main-col {
    flex-grow: 0; // enforce flex-grow == false to center the div
    justify-content: center;
    align-self: stretch;

    // remove X-ruler from the document flow so that both the Y-ruler
    // and the Dropzone are vertically centered at the same height
    .measuring-tape {
      position: absolute;
      bottom: 0;
    }
  }

  .dropzone {
    flex-grow: 0;
  }

  .left-col {
    position: absolute;
    right: 0;
    justify-content: center;
    height: 100%;
  }

  .parts-list {
    color: #000;
    display: table;
    width: 100%;
    text-align: left;
    margin-top: 18pt;
    border-collapse: collapse;

    th {
      border-bottom: 1px solid;
    }

    th,
    td {
      padding: 6pt 0;
    }

    tr {
      border-bottom: 1px solid $border-color;
    }

  }

  // hack with pseudo-class selector image to add images to the foreground
  // so that they show up in the print PDF.
  // woodgrain img is encoded to base64 by gulp in img.js
  .maple::before {
    content: url('../img/optimized/light-maple-pattern.jpg');
  }

  .walnut::before {
    content: url('../img/optimized/natural-walnut-pattern.jpg');
  }

  .oak::before {
    content: url('../img/optimized/cerused-oak-pattern.jpg');
  }

  .maple,
  .walnut,
  .oak {
    background: none;

    &::before {
      position: absolute;
      overflow: hidden;
    }

  }
  // crop the woodgrain image
  .dropped-item {
    overflow: hidden;

    // place svg in front of foreground image
    svg {
      position: relative
    }
  }
}
