/* resets ---------------------------*/
:focus {outline:none;}
::-moz-focus-inner {border:0;}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
select:active, select:focus {
  outline: 0;
}
