// to be used on the standalone page,
// not the Weebly page

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

body {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}
